/*tag selection whole tag will selected*/
/*h1{
    background-color: pink;
    font-size: 80px;
}
ul{background-color: aquamarine;}
ol{background-color: rgb(99, 99, 197);}
/*Id selection unique/individual selection*/
/*#er{
    background-color: darkmagenta;
}
#to{
    background-color: hotpink;
}
/*Class based selection*/
/*ik{
    background-color: lavender;
} */
 /*Group based selection*/
/* h1, .ik

 
 {
    background-color: rgba(255, 0, 179, 0.598);
 }*/

 /*font size (pixel=picture element)*/
  /* h1{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
    li{
    font-size: 1em;
}  */
