span{
    background-color: aqua;
    color: blue;
    display: inline;
}
/*universal selector*/
/* *{
    background-color: coral;
} 
    border-box=border to content width = width
    content-box=only content width= width*/